.twentytwenty-vertical .default .twentytwenty-before-label:before,
.twentytwenty-vertical .default .twentytwenty-after-label:before {
    padding: 0 !important;
}

.twentytwenty-before-label,
.twentytwenty-after-label {
    background: none
}

.twentytwenty-vertical .twentytwenty-before-label:before,
.twentytwenty-vertical .twentytwenty-after-label:before {
    width: 120px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
}

/*Design 1*/
.twentytwenty-horizontal .design-1 .twentytwenty-before-label::before,
.twentytwenty-horizontal .design-1 .twentytwenty-after-label::before {
    top: 60px;
}

.twentytwenty-horizontal .design-1 .twentytwenty-before-label::before {
    left: 80px;
}

.twentytwenty-horizontal .design-1 .twentytwenty-after-label::before {
    right: 80px;
}

.design-1 .twentytwenty-before-label::before,
.design-1 .twentytwenty-after-label::before {
    background: #f1f1f1;
    color: 000;
}

.twentytwenty-vertical .design-1 .twentytwenty-handle {
    margin-top: 0;
}

.twentytwenty-vertical .design-1 .twentytwenty-handle:after {
    margin-right: 0;
}

.twentytwenty-vertical .design-1 .twentytwenty-handle:before {
    margin-left: 0
}

.design-1 .twentytwenty-before-label::before,
.design-1 .twentytwenty-after-label::before {
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    color: #000;
    text-transform: none;
    border-radius: 25px;
}

.design-1 .twentytwenty-handle {
    height: 0;
    width: 0;
    border: none;
}

.design-1 .twentytwenty-left-arrow {
    border-right: none;
    left: 0;
    margin-left: 0;
}

.design-1 .twentytwenty-right-arrow {
    border-left: none;
    right: 0;
    margin-right: 0;
}

.design-1 .twentytwenty-horizontal .twentytwenty-handle::before {
    margin-bottom: -17px;
}

.design-1 .twentytwenty-handle {
    margin-left: 0;
}

.twentytwenty-horizontal .design-1 .twentytwenty-handle::before {
    margin-bottom: 0px;
}

.twentytwenty-horizontal .design-1 .twentytwenty-handle::after {
    margin-top: 0px;
}

.design-1 .twentytwenty-overlay .twentytwenty-before-label,
.design-1 .twentytwenty-overlay .twentytwenty-after-label {
    opacity: 1;
}

/*Design 5*/
.twentytwenty-horizontal .design-2 .twentytwenty-before-label::before,
.twentytwenty-horizontal .design-2 .twentytwenty-after-label::before {
    top: unset;
    bottom: 45px !important;
}

.twentytwenty-horizontal .design-2 .twentytwenty-before-label::before {
    left: 0px;
}

.twentytwenty-horizontal .design-2 .twentytwenty-after-label::before {
    right: 0px;
}

.twentytwenty-horizontal .design-2 .twentytwenty-before-label {
    left: 0px;
    padding: 0px;
}

.twentytwenty-horizontal .design-2 .twentytwenty-after-label {
    right: 0px;
    padding: 0px;
}

.twentytwenty-horizontal .design-2 .twentytwenty-before-label::before {
    left: 0px;
}

.twentytwenty-horizontal .design-2 .twentytwenty-handle::before {
    bottom: 85%;
}

.twentytwenty-horizontal .design-2 .twentytwenty-handle::after {
    top: 85%;
}

.design-2 .twentytwenty-before-label::before {
    background: #526F9B;
}

.design-2 .twentytwenty-after-label::before {
    background: #205D00;
}

.design-2 .twentytwenty-after-label::before {
    border-radius: 50px 0px 0px 50px;
    text-transform: uppercase;
}

.design-2 .twentytwenty-before-label::before {
    border-radius: 0px 50px 50px 0px;
    text-transform: uppercase;
}

.design-2 .twentytwenty-overlay .twentytwenty-before-label,
.design-2 .twentytwenty-overlay .twentytwenty-after-label {
    opacity: 1;
}

.design-2 .twentytwenty-handle {
    height: 120px !important;
    width: 24px !important;
    background: #fff;
    margin-top: -60px !important;
    margin-left: -15px !important;
}

.twentytwenty-vertical .design-2 .twentytwenty-handle:before,
.twentytwenty-vertical .design-2 .twentytwenty-handle:after {
    box-shadow: none !important
}

.twentytwenty-vertical .design-2 .twentytwenty-down-arrow {
    border-top: 6px solid #737373;
}

.twentytwenty-vertical .design-2 .twentytwenty-up-arrow {
    border-bottom: 6px solid #737373;
}

.twentytwenty-vertical .design-2 .twentytwenty-handle {
    height: 24px !important;
    width: 120px !important;
    background: #fff;
    margin-top: -12px !important;
    margin-left: -60px !important;
}

.twentytwenty-vertical .design-2 .twentytwenty-handle .twentytwenty-down-arrow {
    bottom: 55%;
}

.twentytwenty-vertical .design-2 .twentytwenty-handle .twentytwenty-up-arrow {
    top: 55%;
}

.design-2 .twentytwenty-left-arrow {
    border-right: 6px solid #737373 !important;
    left: 55%;
}

.design-2 .twentytwenty-right-arrow {
    border-left: 6px solid #737373 !important;
    right: 55%;
}

/*Design 6*/

.twentytwenty-horizontal .design-3 .twentytwenty-before-label::before,
.twentytwenty-horizontal .design-3 .twentytwenty-after-label::before {
    top: unset;
    bottom: 45px !important;
}

.twentytwenty-vertical .design-3 .twentytwenty-handle:before {
    left: 77%;
}

.twentytwenty-vertical .design-3 .twentytwenty-handle:after {
    right: 74%;
}

.twentytwenty-vertical .design-3 .twentytwenty-down-arrow {
    border-top: 6px solid #fff;
}

.twentytwenty-vertical .design-3 .twentytwenty-up-arrow {
    border-bottom: 6px solid #fff;
}

.twentytwenty-horizontal .design-3 .twentytwenty-before-label::before,
    {
    left: 0px;
}

.twentytwenty-horizontal .design-3 .twentytwenty-after-label::before {
    right: 0px !important;
}

.twentytwenty-horizontal .design-3 .twentytwenty-before-label {
    left: 0px;
    padding: 0px;
}

.twentytwenty-horizontal .design-3 .twentytwenty-after-label {
    right: 0px;
    padding: 0px;
}

.twentytwenty-horizontal .design-3 .twentytwenty-before-label::before {
    left: 0px;
}

.twentytwenty-horizontal .design-3 .twentytwenty-handle::before {
    margin-bottom: 45px;
}

.twentytwenty-horizontal .design-3 .twentytwenty-handle::after {
    margin-top: 46px;
}

.design-3 .twentytwenty-before-label::before {
    background: #F36F02;
}

.design-3 .twentytwenty-after-label::before {
    background: #ffffff;
    color: #3d3d3d;
}

.design-2 .twentytwenty-before-label::before,
.design-2 .twentytwenty-after-label::before,
.design-4 .twentytwenty-before-label::before,
.design-4 .twentytwenty-after-label::before,
.design-3 .twentytwenty-before-label::before,
.design-3 .twentytwenty-after-label::before {
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
}

.design-3 .twentytwenty-after-label::before {
    border-radius: 50px 0px 0px 50px;
    text-transform: uppercase;
}

.design-3 .twentytwenty-before-label::before {
    border-radius: 0px 50px 50px 0px;
    text-transform: uppercase;
}

.design-4 .twentytwenty-after-label::before {
    border-radius: 50px 0px 0px 50px;
    text-transform: uppercase;
}

.design-4 .twentytwenty-before-label::before {
    border-radius: 0px 50px 50px 0px;
    text-transform: uppercase;
}

.twentytwenty-vertical .design-2 .twentytwenty-before-label::before,
.twentytwenty-vertical .design-4 .twentytwenty-before-label::before,
.twentytwenty-vertical .design-2 .twentytwenty-after-label::before,
.twentytwenty-vertical .design-4 .twentytwenty-after-label::before,
.twentytwenty-vertical .design-3 .twentytwenty-before-label::before,
.twentytwenty-vertical .design-3 .twentytwenty-after-label::before {
    border-radius: 50px;
    text-transform: uppercase;
}

.design-3 .twentytwenty-overlay .twentytwenty-before-label,
.design-3 .twentytwenty-overlay .twentytwenty-after-label {
    opacity: 1;
}

.design-3 .twentytwenty-handle {
    height: 85px !important;
    width: 85px !important;
    margin-top: -44px;
    margin-left: -45px;
}

/*Design 4*/

.twentytwenty-horizontal .design-4 .twentytwenty-before-label::before,
.twentytwenty-horizontal .design-4 .twentytwenty-after-label::before {
    top: 60px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-before-label::before {
    left: 0px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-after-label::before {
    right: 0px !important;
}

.twentytwenty-horizontal .design-4 .twentytwenty-before-label {
    left: 0px;
    padding: 0px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-after-label {
    right: 0px;
    padding: 0px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-before-label::before {
    left: 0px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-handle::before {
    margin-bottom: 45px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-handle::after {
    margin-top: 46px;
}

.design-4 .twentytwenty-before-label::before {
    background: #EA7639;
    color: #ffffff;
}

.design-4 .twentytwenty-after-label::before {
    background: #487D8D;
    color: #ffffff;
}

.design-4 .twentytwenty-overlay .twentytwenty-before-label,
.design-4 .twentytwenty-overlay .twentytwenty-after-label {
    opacity: 1;
}

.design-4 .twentytwenty-handle {
    height: 0;
    width: 0;
    border: none;
    margin-left: 0;
    margin-top: 0
}

.twentytwenty-vertical .design-4 .twentytwenty-handle {
    margin-top: 0
}

.twentytwenty-vertical .design-4 .twentytwenty-up-arrow {
    border-bottom: 6px solid #fff;
}

.twentytwenty-vertical .design-4 .twentytwenty-down-arrow {
    border-top: 6px solid #fff;
}

.twentytwenty-vertical .design-4 .twentytwenty-handle:before,
.twentytwenty-vertical .design-4 .twentytwenty-handle:after {
    margin-left: 0;
    margin-right: 0;
}

.design-4 .twentytwenty-horizontal .twentytwenty-handle::before {
    margin-bottom: -17px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-handle::before {
    margin-bottom: 0px;
}

.twentytwenty-horizontal .design-4 .twentytwenty-handle::after {
    margin-top: 0px;
}

.twentytwenty-vertical .twentytwenty-before-label:before,
.twentytwenty-vertical .twentytwenty-after-label:before {
    margin-left: -74px
}

.twentytwenty-vertical .default .twentytwenty-before-label:before,
.twentytwenty-vertical .default .twentytwenty-after-label:before {
    padding: 0 !important;
    margin-left: -45px
}

/*
* Blur image
*/
.bafg-blur {
    filter: blur(5px)
}

.bafg-grayscale {
    filter: grayscale(1)
}

.bafg-sepia {
    filter: sepia(1)
}

.bafg-saturate {
    filter: saturate(10)
}

.handle-trnasf {
    width: 37px;
    height: 37px;
    border: 3px solid #fff;
    margin-top: 0;
    margin-left: -21px;
    transform: rotate(45deg);
}

.twentytwenty-vertical .design-1 .handle-trnasf {
    margin-top: -20.5px;
}

.twentytwenty-horizontal .design-1 .handle-trnasf {
    margin-left: -22px;
}

.twentytwenty-vertical .design-1 .twentytwenty-down-arrow {
    transform: rotate(-45deg);
}

.twentytwenty-vertical .design-1 .twentytwenty-down-arrow {
    /* margin-bottom: inherit !important; */
}

.twentytwenty-vertical .design-1 .twentytwenty-up-arrow {
    top: inherit !important;
    margin-top: inherit !important;
    margin-left: inherit !important;
}

.twentytwenty-vertical .design-1 .twentytwenty-up-arrow {
    top: 24px !important;
    left: 25px !important;
    transform: rotate(-45deg);
}

.twentytwenty-vertical .design-1 .twentytwenty-down-arrow {
    top: 20px;
    left: 26px;
}

.twentytwenty-vertical .design-1 .twentytwenty-handle::before,
.twentytwenty-vertical .design-1 .twentytwenty-handle::after {
    height: 3px;
}

.twentytwenty-wrapper.twentytwenty-horizontal .handle-trnasf::before {
    position: absolute;
    content: '';
    top: 21px;
    right: 21px;
    border: 6px inset transparent;
    border-right: 6px solid #fff;
    transform: rotate(-45deg);
}

.twentytwenty-wrapper.twentytwenty-horizontal .handle-trnasf::after {
    position: absolute;
    content: '';
    top: 4px;
    right: 4px;
    border: 6px inset transparent;
    border-left: 6px solid #fff;
    transform: rotate(-45deg);
}

.elementor-widget-container .twentytwenty-horizontal .twentytwenty-handle::before,
.elementor-widget-container .twentytwenty-horizontal .twentytwenty-handle::after {
    margin-left: 0;
}
